<form class="d-flex mt-10">
  <input class="form-control me-2" type="search" placeholder="Search My Library" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" style="max-height:300px" >
    <div class="carousel-item active" >
      <a href="" *ngFor="let book of suggestedBooks">{{book.image_path}}</a>
    </div>
    <div class="carousel-item" style="max-height:300px" *ngFor="let book of suggestedBooks">
      <img src="{{book.image_path}}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" style="max-height:300px" >
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.1pvjohxni3m4U_TOtGJB_QHaLc%26pid%3DApi&f=1&ipt=a08c022d169517f48e26861bfb7259ed369b54c4fe797a9755730222db926a64&ipo=images" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
